.border-all {
    border-radius: 0% 100% 51% 49% / 0% 0% 100% 100%;
    width: 400px;
    height: 100px;
    margin-bottom: 50px;
    background: #ad5389;
    background: -webkit-linear-gradient(to right,
        #3c1053,
        #ad5389);
    background: linear-gradient(to right,
        #826392,
        #6d3757);
  }
