.input-group-course {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}


.cards-allcourse {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}


@media (min-width: 600px) {
    .cards-allcourse { 
        grid-template-columns: repeat(2, 1fr); 
        margin: auto;
    }
    
  }

@media (min-width: 900px) {
    .cards-allcourse { grid-template-columns: repeat(3, 1fr); }
  }

  @media (min-width: 1024px) {
    .cards-allcourse { grid-template-columns: repeat(4, 1fr); }
  }