.container {
    margin-bottom: 50px;
}

@media screen and (min-widht: 600px) {
    .container .cards {
        height: 100px;
    }
}

.cards {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card-list {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 30px;
}

.container .cards .card-list img {
    border-radius: 5px 5px 0 0;
    padding: 20px;
    width: 120px;
    height: 120px;
}