.custom-shape-divider-bottom-1698955100 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698955100 svg {
  display: block;
  width: calc(166% + 1.3px);
  height: 87px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1698955100 .shape-fill {
  fill: #789BBE;
}

.card-course {
  padding: 50px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(0deg, #3e6994 49%, #ffffff 50%);
  height: 100vh;
}

.card-course .title-course {
  border-bottom: 4px solid black;
  width: 20%;
  line-height: 5rem;
}

.slick-slide>div {
  margin: 0 10px;

}

.slick-list {
  margin: 0 -10px;
}