.card-course{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 10rem 0 5rem 0;
}

.img-course {
  padding: 20px;
  margin: auto;
  height: 10rem;
  width: 13rem;
}