.nav {
    border-bottom: 1px solid black;
    background-color: white;
}

@media screen and (max-width: 1050px) {
    .Login {
        margin-inline-end: 20px;
    }
}

.drop .nav-link {
    color: black;
}

body {
    overflow-x: hidden;
}